### IntelliJ IDEA ###
/.idea/
*.iws
*.iml
*.ipr

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Balance-Service
/balance-service/src/main/resources/
/balance-service/config/
!/balance-service/config/README.md
!/balance-service/config/*.example

/balance-service/target/
/balance-service/.mvn/
/balance-service/mvnw
/balance-service/mvnw.bat
/balance-service/mvnw.cmd
/balance-service/src/test/
!/balance-service/.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
/balance-service/.idea
/balance-service/*.iws
/balance-service/*.iml
/balance-service/*.ipr


# Payment-Service
/payment-service/src/main/resources/
/payment-service/config/
!/payment-service/config/README.md
!/payment-service/config/*.example

/payment-service/target/
/payment-service/.mvn/
/payment-service/mvnw
/payment-service/mvnw.bat
/payment-service/mvnw.cmd
/payment-service/src/test/
!/payment-service/.mvn/wrapper/maven-wrapper.jar

# Registry-Service
/service-registry/src/main/resources/
#/service-registry/config/
!/service-registry/config/README.md
!/service-registry/config/*.example

/service-registry/target/
/service-registry/.mvn/
/service-registry/mvnw
/service-registry/mvnw.bat
/service-registry/mvnw.cmd
/service-registry/src/test/
!/service-registry/.mvn/wrapper/maven-wrapper.jar

# Api-Gateway
#/api-gateway/src/main/resources/
#/api-gateway/config/
#!/api-gateway/config/README.md
#!/api-gateway/config/*.example

/api-gateway/target/
/api-gateway/.mvn/
/api-gateway/mvnw
/api-gateway/mvnw.bat
/api-gateway/mvnw.cmd
/api-gateway/src/test/
!/api-gateway/.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
/payment-service/.idea
/payment-service/*.iws
/payment-service/*.iml
/payment-service/*.ipr